// app-color_ Hex color code
// if u need to add alpha parametr just add it with color: rgba($app-color, alpha)
$app-color_000000: #000000;
$app-color_00bdd3: #00bdd3;
$app-color_232f34: #232f34;
$app-color_7e7e7e: #7e7e7e;
$app-color_b4b4b4: #b4b4b4;
$app-color_cb3d40: #cb3d40;
$app-color_d0cfcf: #d0cfcf;
$app-color_e0e0e0: #e0e0e0;
$app-color_edecea: #edecea;
$app-color_f4e041: #f4e041;
$app-color_f8f8f8: #f8f8f8;
$app-color_ffe302: #ffe302;
$app-color_ffffff: #ffffff;
